<div class="text-center">
  <h1>******** Welcome to the longest word-game !********</h1>
  <h2>Here is your grid :</h2>
  <p><%= @grid %></p>
  <p>*****************************************************</p>
</div>
